@import "tailwindcss";

.whatsapp-bg {
  background-color: #e5ddd5;
  background-image: url("data:image/svg+xml,%3Csvg width='256' height='256' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23d1c6b4' fill-opacity='0.4'%3E%3Cpath d='M32 48a8 8 0 110-16 8 8 0 010 16zM64 96a8 8 0 110-16 8 8 0 010 16zM96 144a8 8 0 110-16 8 8 0 010 16zM128 192a8 8 0 110-16 8 8 0 010 16z'/%3E%3C/g%3E%3C/svg%3E");
  background-repeat: repeat;
}

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */
/* 
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
